.carousel-container {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

    .carousel-wrapper {
    display: flex;
    width: 29%;
    border: 2px solid #af3737;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    }
    .btn-close{
      position: relative;
    left: 363px;
    right: 0;
    bottom: 162px;
    }
  }